{% extends 'blog/base.html' %}

{% block content %}


    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">
        <div class="row mt centered">
         <h1>{{ task.title }}</h1>
         <p>Текст задания:<br>{{ task.text }}</p>
         <p>Задание для:<br>{{ task.employee }}</p>

        <p>Комментарии:</p>
        {% for comment in comments%}
        <div>
        {{ comment.comment }}
        </div>
        {% endfor %}

        </div><!-- /row -->
    </div><!-- /container -->

{% endblock content %}